<div class="row gy-6 gy-lg-0">
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      @@if (!context.lightText) {
        <img class="mb-4" src="@@webRoot/assets/img/svg/papp-mark.svg" srcset="@@webRoot/assets/img/svg/papp-mark.svg" alt="" />
      }
      @@if (context.lightText) {
        <img class="mb-4" src="@@webRoot/assets/img/svg/papp-mark.svg" srcset="@@webRoot/assets/img/svg/papp-mark.svg" alt="" />
      }
      <!-- /.social -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      <h4 class="widget-title @@if (context.lightText) {text-white} mb-3">Get in Touch</h4>
      <address class="pe-xl-15 pe-xxl-17">40 Paxton Avenue, Port Perry Ontario, Canada</address>
      <a href="mailto:info@portperryphysio.com" @@if (!context.lightText) {class="link-body"}>info@portperryphysio.com</a><br /> (905) 985-8363
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      <h4 class="widget-title @@if (context.lightText) {text-white} mb-3">Learn More</h4>
      <ul class="list-unstyled @@if (!context.lightText) {text-reset} mb-0">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-12 col-lg-3">
    <div class="widget">
      <h4 class="widget-title @@if (context.lightText) {text-white} mb-3">Resources</h4>
      <ul class="list-unstyled @@if (!context.lightText) {text-reset} mb-0">
        <li><a href="">College of Physiotherapists of Ontario</a></li>
        <li><a href="">Orthopedic Division of the Canadian Physiotherapy Association</a></li>
        <li></i><a href="">College of Massage Therapists of Ontario</a></li>
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
</div>
<!--/.row -->