@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
@@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex offcanvas-body">
    <ul class="navbar-nav ms-lg-auto">
      }
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About Us</a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/index.html#who-we-are">Who we are</a></li>
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/index.html#what-we-do">What we do</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@@webRoot/services.html" data-bs-toggle="dropdown">Services</a>
        <div class="dropdown-menu dropdown-lg">
          <div class="dropdown-lg-content">
            <div>
              <ul class="list-unstyled">
                <li><a class="dropdown-item" href="@@webRoot/services.html">Services</a></li>
                <li><a class="dropdown-item" href="@@webRoot/services.html#physio">Physiotherapy</a></li>
                <li><a class="dropdown-item" href="@@webRoot/services.html#shockwave">Shockwave Therapy</a></li>
                <li><a class="dropdown-item" href="@@webRoot/services.html#pelvic-physio">Pelvic Health Physiotherapy</a></li>
                <li><a class="dropdown-item" href="@@webRoot/services.html#massage">Massage Therapy</a></li>
              </ul>
            </div>
            <!-- /.column -->
          </div>
          <!-- /auto-column -->
        </div>
      </li>
        @@if (context.centerLogo) {
      </ul>
      <!-- /.navbar-nav -->
  </div>
  <div class="w-100 order-3 order-lg-2 d-lg-flex offcanvas-body">
    <ul class="navbar-nav me-lg-auto">
      }
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="@@webRoot/team.html" data-bs-toggle="dropdown">Team</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/team.html">Team</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/team.html#physios">Physiotherapists</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/team.html#rmt">Registered Massage Therapists</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/team.html#support-staff">Support Staff</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/team.html#careers">Careers</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.gotyoulooking.com/1physioassocportperry/mht.html" target="_blank">Virtual Tour</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="@@webRoot/contact.html" data-bs-toggle="dropdown">Contact</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/contact.html">Contact</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/faq.html">FAQs</a></li>
      </ul>
    </li>
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
}
@@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}